.button {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    font: arial;
    outline: none;
    transition: all 0.2s ease-in-out;
  }
  
  .button-darkturquoise {
    background: darkturquoise;
  }
  
  .button-gray {
    background: gray;
  }
  
  .article {
    border-radius: 10px;
    background: yellow;
    padding: 20px;
  }
  
  .article-header {
    font-size: 20px;
    font-weight: 700;
  }
  
  .articles-list {
    list-style: none;
    padding: 0;
  }
  
  .articles-list-item {
    margin-bottom: 40px;
  }
  
  .main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .tarjeta {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    background: rgb(185, 242, 255);
  }
  
  .tarjeta-img {
    border-radius: 50%;
    height: 50px;
  }
  
  .tarjeta-data {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .tarjeta-data-header {
    font-weight: 800;
    font-size: 24px;
  }
  
  .input {
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    background: purple;
  }
  
  .input-match {
    background: red;
  }
  
  .post {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .post-title {
    font-size: 48px;
    font-weight: 800;
    margin-right: 50px;
  }
  
  .post-paragraph {
    max-width: 400px;
    font-size: 20px;
  }
  
  .checkbox{
    display: flex;
    align-items: center;
  }
